<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dark Side of the Rainbow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{'/css/main.css'}">

</head>
<body style="background-image: linear-gradient(0deg, black, #111111 90%, #111111); color: #fdfcfa">

<div th:include="layout::header"></div>

<section id="content" style="margin-left: 15px; margin-right: 50px; margin-bottom: 10px">

    <h1 class="pageT">Edit Album</h1>
    <h4>Edit an existing album in the database!</h4>

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">
        An error has occurred!
    </div>
    <form action="/admin/albums/edit" method="post">
        <div class="form-group">
            <label for="title">Album Name</label>
            <input type="text" class="form-control" id="title" th:value="${title}" aria-describedby="titleHelp"
                   name="title"
                   placeholder="Enter album title">
            <small id="titleHelp" class="form-text text-muted">What is the title of the album?</small>
        </div>
        <div class="form-group">
            <label for="artist">Album Artist</label>
            <input type="text" class="form-control" id="artist" th:value="${artist}" aria-describedby="artistHelp"
                   name="artist"
                   placeholder="Enter album artist">
            <small id="artistHelp" class="form-text text-muted">Who composed the album?</small>
        </div>
        <div class="form-group">
            <label for="dateReleased">Date of Release</label>
            <input class="form-control" type="date" th:value="${dateReleased}" id="dateReleased"
                   aria-describedby="dateReleasedHelp"
                   name="dateReleased" placeholder="Enter date of release">
            <small id="dateReleasedHelp" class="form-text text-muted">On which day was the album released?</small>
        </div>
        <table>
            <tbody>
            <tr>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" th:checked="${isROCK} ? 'checked'" id="isROCK"
                               value="1"
                               name="isROCK">
                        <label class="form-check-label" for="isROCK">Rock</label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" th:checked="${isCLASSICAL} ? 'checked'"
                               id="isCLASSICAL"
                               value="2" name="isCLASSICAL">
                        <label class="form-check-label" for="isCLASSICAL">Classical</label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isPOP" th:checked="${isPOP} ? 'checked'"
                               value="3"
                               name="isPOP">
                        <label class="form-check-label" for="isPOP">Pop</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isJAZZ" th:checked="${isJAZZ} ? 'checked'"
                               value="4"
                               name="isJAZZ">
                        <label class="form-check-label" for="isJAZZ">Jazz</label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isJAPANESE_POP"
                               th:checked="${isJAPANESE_POP} ? 'checked'" value="5" name="isJAPANESE_POP">
                        <label class="form-check-label" for="isJAPANESE_POP">J-Pop</label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isHINDUSTANI_CLASSICAL"
                               th:checked="${isHINDUSTANI_CLASSICAL} ? 'checked'" value="6"
                               name="isHINDUSTANI_CLASSICAL">
                        <label class="form-check-label" for="isHINDUSTANI_CLASSICAL">Hindustani Classical</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isCELTIC" value="7"
                               th:checked="${isCELTIC} ? 'checked'" name="isCELTIC">
                        <label class="form-check-label" for="isCELTIC">Celtic</label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isELECTRONICA" value="8"
                               th:checked="${isELECTRONICA} ? 'checked'" name="isELECTRONICA">
                        <label class="form-check-label" for="isELECTRONICA">Electronica</label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isDARK_ROCK" value="9"
                               th:checked="${isDARK_ROCK} ? 'checked'" name="isDARK_ROCK">
                        <label class="form-check-label" for="isDARK_ROCK">Dark Rock</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isPOP_ROCK" value="10"
                               th:checked="${isPOP_ROCK} ? 'checked'" name="isPOP_ROCK">
                        <label class="form-check-label" for="isPOP_ROCK">Pop Rock</label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="isDARKWAVE" value="11"
                               th:checked="${isDARKWAVE} ? 'checked'" name="isDARKWAVE">
                        <label class="form-check-label" for="isDARKWAVE">Darkwave</label>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <small id="genreHelp" class="form-text text-muted">Select one or more genres.</small>
        <br>
        <div class="form-group">
            <label for="numberOfTracks">Number of Tracks</label>
            <input type="number" min="1" value="1" step="1" class="form-control" id="numberOfTracks"
                   aria-describedby="numberOfTracksHelp" name="numberOfTracks" th:value="${numberOfTracks}">
            <small id="numberOfTracksHelp" class="form-text text-muted">How many tracks does the album have?</small>
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" min="0" step="0.01" class="form-control" id="price" aria-describedby="priceHelp"
                   name="price" th:value="${price}">
            <small id="priceHelp" class="form-text text-muted">What is the MSRP for the album?</small>
        </div>

        <input type="hidden" th:value="${albumId}" name="albumId"/>
        <button type="submit" class="btn btn-dark">Save Changes</button>
        <br>
    </form>

</section>

<div th:include="layout::footer"></div>

</body>
</html>